.x {
    background-color: red;
    width: 100%;
    height: 300px;
    position: relative;
}
.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: darkslategrey!important;
    width: 80%;
    max-width: 1140px;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.nav-link {
    color: white!important;
    margin-right: 5px;
}
#login {
    border: 1px solid white;
    border-radius: 20px;
    /* padding: 10px 10px!important; */
    /* height: 20px; */
    /* line-height: 20px; */
    padding: 10px 20px;
}
#login:hover {
    background-color: white;
    color: black!important;
    border: none;
}
.nav-link:hover {
    color: lightcyan!important;
}
.btn-outline-secondary:focus {
    box-shadow: none!important;
}
.offcanvas-header {
    display: none;
}
/* Responsive Styles */

  @media screen and (max-width: 992px) {
    
    .offcanvas-header {
        display: block;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        /* transition: visibility .2s ease-in-out; */
    }
    .navbar-collapse.show {
        position: fixed;
        visibility: visible;
        transform: translateX(-100%);
        width: 50%;
        height: fit-content;
        overflow: visible;
    }
    .btn-close {
        background-color: transparent;
        border-color: transparent;
        color: white;
        font-size: 22px;
    }
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-bottom: 10px;
        color: red!important;
        display: block!important;
    }
    .navbar-light .navbar-nav {
        display: block;
    }
    #xyz {
        color: red;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border: 1px solid white;
    }
    #btn:focus {
        outline: none;
    }
}